// Web font -------------------------------------------------------------------
@import url("http://fonts.googleapis.com/css?family=Questrial|Michroma");

// Layout ---------------------------------------------------------------------
// horizontal
@sidebar-width: 240px;
@body-left-margin: 20px;

body {
  padding-top: 10px;
  margin-left: @sidebar-width + 80/2px;
  #header {
    margin-left: -(@sidebar-width + @body-left-margin);
    h1 {
      font-family: Michroma;
      font-size: 20px;
      font-weight: 400;
      a {color: #4c4c4c;}
    }
  }
  #sidebar {
    width: @sidebar-width;
    position: absolute;
    left: 0;
    .sidebar-inner {
      padding-left: @body-left-margin;
      ul { margin-left: 0; }
      .recent-posts {
        .date { margin-top: 10px; }
        .title { margin-bottom: 5px; }
        li { list-style-type: none; }
      }
    }
  }
  #recent-posts {
    .content {overflow-x: hidden;}
  }
}

.post {
  width: 640px;
  .content p, .content ul, #disqus_thread { width: 480px; }
}
.post header h2, #recent-posts h3, .read-more, .date, #sidebar .title, .license {font-family: Questrial;}
.post header h2:first-letter { font-size:141%; font-weight:1400; }

#sidebar {
  .license, .recent-posts {
  margin-top: 20px;
}}

body #recent-posts {
  .post {
    position: relative;
    overflow-y: hidden;
    height: 160+20px;
    margin-bottom: 40+20px;
    h2 {font-size: 1.2em;}
    h3 {font-size: 1.1em;}
    .title {color: #333;}
    footer {
      padding-top: 20px;
      height: 20*2px;
      position: absolute;
      top: 160-20px;
      width: 100%;
      background-image: -webkit-gradient(linear, left top, left bottom,
                          from(rgba(255,255,255,0)),
                          color-stop(0.25, rgba(255,255,255,1)),
                          to(white));
      background-image: -moz-linear-gradient(
                          rgba(255,255,255,0) 0%,
                          rgba(255,255,255,1) 25%,
                          white 100%);
      .date, .date>* {display: inline;}
    }
  }
}
//------------------------------------------------------------------------------
article#the.post {
  margin-bottom: 40px;
  header {
    margin-bottom: 3em;
    h2 {
      .date {
        color: gray;
        border-right: dotted 2px gray;
        padding-right: 4px;
        margin-right: 4px;
        float: left;
        .day {font-weight: bold; font-size: 24px; line-height:26px;}
        .month {font-weight: bold; font-size: 18px; line-height:22px;}
        .year {font-weight: bold; font-size: 14px; line-height:18px;}
      }
    }
  }
  p:not(:first-child) { margin-top: 40px; }
  #disqus_thread { margin-top: 60px; }
}

.rss-atom {
  a {color: white;}
  .rss-link, .atom-link {
    font-weight: bold;
    padding: 0px 8px;
    border-radius: 2px;
    display: inline-block;
    background-color: #222;
  }
}

//---------------------------------------------------------------- Effect
pre.terminal {
  color:white;
  background-color:black;
  font-weight:normal;
  font-family:monaco,monospace,mono;
}

//---------------------------------------------------------------- Behavior

//---------------------------------------------------------------- Disable/change library's style
pre.prettyprint {
  border: 1px solid #ccc;
  padding: 8.5px;
}

#disqus_thread {
  margin-bottom: 0;
  #dsq-content {
    #dsq-global-toolbar {
      margin: auto;
      line-height: auto;
    }
    .dsq-reply {
      margin-top: auto;
      .dsq-textarea-reply { margin-bottom: auto; }
    }
    h3 {
      margin: auto;
      position: static;
      font-size: 1em;
    }
    #dsq-footer { margin: auto; }
  }
}

.syntaxhighlighter .line.alt1,
.syntaxhighlighter .line.alt2,
.syntaxhighlighter {
  background-image: none !important;
  background-color: transparent !important;
  .toolbar {display:none;}
}
.syntaxhighlighter {
  background-color: whiteSmoke !important;
  padding: 8.5px;
  margin: 0 0 18px 0;
  border: 1px solid rgba(0,0,0,0.15);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  .gutter .line {
    border-right: 3px solid rgba(0,107,159,0.5) !important;
  }
}

