@sidebar-width: 240px;
@article-width: 640px;
@paragraph-width: 480px;
@common-bottom-margin: 96px;
@body-top-margin: 10px;
@body-left-margin: 20px;
@span-width: 80px/2;

// Layout ---------------------------------------------------------------------
body {
  padding-top: @body-top-margin;
  margin-left: @sidebar-width + @span-width;
  #header {
    margin-left: -(@sidebar-width + @body-left-margin);
  }
  #sidebar {
    width: @sidebar-width;
    position: absolute;
    left: 0;
    .sidebar-inner {
      padding-left: @body-left-margin;
      ul { margin-left: 0; }
      .recent-posts { li { list-style-type: none; } }
    }
  }
}

//------------------------------------------------------------------------------
article.post {
  width: @article-width;
  margin-bottom: 40px;
  header {
    margin-bottom: 3em;
    h2 {
      .date {
        font-size: small;
        font-weight: normal;
        color: gray;
        margin: 0; padding: 0;
        border-right: dotted 2px gray;
        padding-right: 4px;
        margin-right: 14px;
        float: left;
        .day {font-weight: bold; font-size: 24px; line-height:26px;}
        .month {font-weight: bold; font-size: 18px; line-height:22px;}
        .year {font-weight: bold; font-size: 14px; line-height:18px;}
      }
      .title {
        font-size: 1.2em;
      }
    }
  }
  .content {
    h3 {margin-top:1.5em;}
    p {width: @paragraph-width;}
  }
  #disqus_thread_container {
    #disqus_thread {
      width: @paragraph-width;
    }
  }
}

.rss-atom {
  a {color: white;}
  .rss-link, .atom-link {
    font-weight: bold;
    padding: 0px 8px;
    border-radius: 2px;
    display: inline-block;
    background-color: #222;
  }
}

//---------------------------------------------------------------- Effect
pre.terminal {
  color:white;
  background-color:black;
  font-weight:normal;
  font-family:monaco,monospace,mono;
}

//---------------------------------------------------------------- Behavior

//---------------------------------------------------------------- Disable/change library's style
pre.prettyprint {
  border: 1px solid #ccc;
  padding: 8.5px;
}

#disqus_thread {
  margin-bottom: 0;
  #dsq-content {
    #dsq-global-toolbar {
      margin: auto;
      line-height: auto;
    }
    .dsq-reply {
      margin-top: auto;
      .dsq-textarea-reply {
        margin-bottom: auto;
      }
    }
    h3 {
      margin: auto;
      position: static;
      font-size: 1em;
    }
    #dsq-footer {
      margin: auto;
    }
  }
}

.syntaxhighlighter .line.alt1,
.syntaxhighlighter .line.alt2,
.syntaxhighlighter {
  background-image: none !important;
  background-color: transparent !important;
  .toolbar {display:none;}
}
.syntaxhighlighter {
  background-color: whiteSmoke !important;
  padding: 8.5px;
  margin: 0 0 18px 0;
  border: 1px solid rgba(0,0,0,0.15);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  .gutter .line {
    border-right: 3px solid rgba(0,107,159,0.5) !important;
  }
}

