@sidebar-width: 240px;
@article-width: 480px;
@common-bottom-margin: 96px;
@navbar-height: 40px;
@body-top-margin: 10px;
@body-left-margin: 20px;
@span-width: 80px/2;

//---------------------------------------------------------------- Layout
body {
  margin-top: @navbar-height;
  padding-top: @body-top-margin;
  margin-left: @sidebar-width + @span-width;
  .navbar .navbar-inner {
    padding-left: @body-left-margin;
  }
  aside#sidebar {
    width: @sidebar-width;
    position: fixed;
    left: 0;
    top: @navbar-height + @body-top-margin;
    .sidebar-inner {
      padding-left: @body-left-margin;
    }
  }
  nav.social {
    margin-bottom:1px;
  }
}
body {
  article.post {
    width: @article-width;
    margin-bottom: 40px;
    header h2 .title {
      font-size: 1.5em;
    }
    .content {
      h3 {margin-top:1.5em;}
    }
  }
  #the {
    padding-bottom: @common-bottom-margin;
  }
  aside#disqus_thread_container {
    padding-bottom: @common-bottom-margin;
    #disqus_thread {
      width: @article-width;
    }
  }
}

body {
  > header, > footer {
    position: fixed;
    width: 100%;
    left: 0;
  }
  > header {
    top: 0;
    height: 20px;
  }
  > footer {
    padding-left: @body-left-margin;
    padding-bottom: 10px;
    bottom: 0;
  }
}

//---------------------------------------------------------------- Looks
.navbar .brand {
  font-family: Tahoma;
  font-weight: bold;
}

aside#sidebar {
  .sidebar-inner {
    ul {
      margin-left: 0;
    }
    .recent-posts {
      li {
        list-style-type: none;
      }
    }
  }
}

#rss-link a, #atom-link a {
  color: white;
  font-weight: bold;
  padding: 0px 8px;
  border-radius: 2px;
  display: inline-block;
  background-color: #222;
}

article {
  header {
    h2 small {
      font-size: small;
    }
  }
}

body {
  > header {
    background-image: -webkit-gradient(
      linear, left bottom, left top,
      from(rgba(255,255,255,0.0)),
      to(rgba(255,255,255,1.0))
    );
    background-image: -moz-linear-gradient(
      rgba(255,255,255,1.0) 100%,
      rgba(255,255,255,0.0) 0%
    );
  }
  > footer {
    background-image: -webkit-gradient(
      linear, left top, left bottom,
      from(rgba(255,255,255,0.0)),
      to(rgba(255,255,255,1.0))
    );
    background-image: -moz-linear-gradient(
      rgba(255,255,255,0.0) 0%,
      rgba(255,255,255,1.0) 100%
    );
  }
}

//---------------------------------------------------------------- Behavior
nav.social img:hover {
  position: relative;
  left: -1px;
  top: -1px;
  box-shadow: 2px 2px 2px rgba(32,32,32,0.77);
  border-radius: 2px;
}

//---------------------------------------------------------------- Disable/change library's style
.navbar .container {
  width: auto;
}

pre.prettyprint {
  border: 1px solid #ccc;
  padding: 8.5px;
}

#disqus_thread {
  margin-bottom: 0;
  #dsq-content {
    #dsq-global-toolbar {
      margin: auto;
      line-height: auto;
    }
    .dsq-reply {
      margin-top: auto;
      .dsq-textarea-reply {
        margin-bottom: auto;
      }
    }
    h3 {
      margin: auto;
      position: static;
      font-size: 1em;
    }
    #dsq-footer {
      margin: auto;
    }
  }
}
