-#layout: default
#recent-posts
  {% for post in site.posts limit:10 offset:0 %}
  %article.post
    %header
      %h2
        .title {{post.title}}
        %small.date {{post.creation-date}}
    .content {{post.content | remove: "<pre>" | remove: "</pre>" | remove: "<code>" | remove: "</code>" | truncatewords: 40 }}
    %a{href:"{{post.url}}"} Read more
  {% endfor %}

%script{src:"{{site.paths.vendor}}/jquery.js"}
%script{src:"{{site.paths.vendor}}/bootstrap/docs/assets/js/bootstrap-tooltip.js"}
