-#layout: default
#recent-posts
  {% for post in site.posts %}
  %article.post
    %header
      %h2
        .title {{post.title}}
        %small.date {{post.creation-date}}
    .content {{post.content | truncatewords: 40}}
    %a{href:"{{post.url}}"} more
  {% endfor %}

%script{src:"{{site.paths.vendor}}/jquery.js"}
%script{src:"{{site.paths.vendor}}/bootstrap/docs/assets/js/bootstrap-tooltip.js"}
