-#layout: default
#recent-posts
  {% for post in site.posts limit:10 offset:0 %}
  %article.post
    %header
      %h2
        .title {{post.title}}
    .content {{post.content}}
    %footer
      %a{href:"{{post.url}}"} Read more
      .date
        .day {{post.creation-date || date:"%d"}}
        .month {{post.creation-date || date:"%b"}}
        .year {{post.creation-date || date:"%Y"}}
  {% endfor %}

%script{src:"{{site.paths.vendor}}/jquery.js"}
%script{src:"{{site.paths.vendor}}/bootstrap/docs/assets/js/bootstrap-tooltip.js"}
