script async='async' src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"
/ 300x250 rectangle middle
ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-9463657688868954" data-ad-slot="1682581887"
script
  | (adsbygoogle = window.adsbygoogle || []).push({});
