#disqus_thread_container
  #disqus_thread
  script async="async" src="#{data.config.js_dir}/disqus.js"
  //a.dsq-brlink href='http://disqus.com' blog comments powered by <span class="logo-disqus">Disqus</span>
