{% if page.lang == 'ja' %}
{%   assign rss_path  = "/ja/rss.xml" %}
{%   assign atom_path = "/ja/atom.xml" %}
{% else %}
{%   assign rss_path  = "/en/rss.xml" %}
{%   assign atom_path = "/en/atom.xml" %}
{% endif %}
