{% if page.lang == 'ja' %}
%a.brand{href:'/index.ja.html'}{{site.title}}
{% else %}
%a.brand{href:'/'}{{site.title}}
{% endif %}
.navigated-links
  {% if page.lang == 'ja' %}
  %a{href:"/"} In English
  {% else %}
  %a{href:"/index.ja.html"} in Japanese
  {% endif %}
