<a href='{{site.socials.twitter.url}}'>
  <img class='icon' src='{{site.icons.url}}/twitter.png'>
</a>
<a href='{{site.socials.facebook.url}}'>
  <img class='icon' src='{{site.icons.url}}/facebook.png'>
</a>
<a href='{{site.socials.github.url}}'>
  <img class='icon' src='{{site.icons.url}}/github.png'>
</a>
<a href='{{site.socials.googleplus.url}}'>
  <img class='icon' src='{{site.icons.url}}/google.png'>
</a>
<a href='{{site.socials.linkedin.url}}'>
  <img class='icon' src='{{site.icons.url}}/linkedin.png'>
</a>
<a href='{{site.socials.zerply.url}}'>
  <img class='icon' src='{{site.icons.url}}/zerply.png'>
</a>
