<li class='facebook'>
  <div class='fb-like' data-layout='button_count' data-send='true' data-show-faces='false' data-width='450'></div>
</li>
<li class='twitter'>
  <a class='twitter-share-button' data-via='tmtk75' href='https://twitter.com/share' lang='en'>Tweet</a>
</li>
<li class='googleplus'>
  <div class='g-plusone' data-size='medium' data-width='300'></div>
</li>
<li class='hatena'>
<a class='hatena-bookmark-button' data-hatena-bookmark-layout='simple-balloon' data-hatena-bookmark-title='{{page.title}}({{site.title}})' href='http://b.hatena.ne.jp/entry/{{site.url}}/{{page.title}}'>
    <img height='20' src='http://b.st-hatena.com/images/entry-button/button-only.gif' style='border: none;' width='20' />
  </a>
</li>
