@import url("http://fonts.googleapis.com/css?family=Questrial|Michroma|Oxygen:700");
body {
  padding-top: 10px;
  border-top: solid 10px #555;
}
#header h1 {
  font-family: Michroma;
  font-size: 20px;
  font-weight: 400;
}
#header h1 a {
  color: #4c4c4c;
}
#header .navigated-links {
  text-align: right;
  font-size: 13px;
  line-height: 15px;
}
#sidebar .sidebar-inner {
  margin-top: 20px;
}
#sidebar .sidebar-inner ul {
  margin-left: 0;
}
#sidebar .sidebar-inner .recent-posts {
  margin-top: 20px;
}
#sidebar .sidebar-inner .recent-posts .date {
  margin-top: 20px;
  font-size: 16px;
}
#sidebar .sidebar-inner .recent-posts .title {
  margin-bottom: 5px;
}
#sidebar .sidebar-inner .recent-posts li {
  list-style-type: none;
}
#recent-posts .content {
  overflow-x: hidden;
}
#metainfo {
  border-top: 1px #333;
  background-color: #555;
  color: #d9d9cc;
  padding-top: 3em;
  padding-bottom: 3em;
  border-bottom: 1px #333;
}
#metainfo h2,
#metainfo .copyright {
  text-shadow: 1px -1px 0 rgba(0,0,0,0.5);
}
#metainfo .license a {
  color: #d9d9cc;
}
#metainfo .copyright {
  margin-top: 3em;
  text-align: center;
}
.post .syntaxhighlighter {
  width: 520px !important;
}
.read-more,
.date,
#sidebar .title {
  font-family: Questrial;
}
.post header h2,
#recent-posts h3 {
  font-family: Oxygen;
  font-weight: 700;
}
.post:not(.ja) header h2:first-letter {
  font-size: 141%;
}
.social {
  margin-top: 10px;
}
.social a,
.social a:hover {
  text-decoration: none;
}
.social .icon {
  width: 16px;
  border: solid 1px #222;
  padding: 1px;
  border-radius: 2px;
  background-image: -o-linear-gradient(rgba(240,240,240,0) 0, rgba(240,240,240,0) 50%, #f0f0f0 100%);
}
body #recent-posts .post {
  position: relative;
  overflow-y: hidden;
  height: 180px;
  margin-bottom: 60px;
}
body #recent-posts .post h2 {
  font-size: 20px;
}
body #recent-posts .post h3 {
  font-size: 18px;
}
body #recent-posts .post .title {
  color: #333;
}
body #recent-posts .post .content h2,
body #recent-posts .post .content h3,
body #recent-posts .post .content h4 {
  display: none;
}
body #recent-posts .post footer {
  padding-top: 20px;
  height: 40px;
  position: absolute;
  top: 140px;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0)), color-stop(0.25, #fff), to(#fff));
  background-image: -moz-linear-gradient(rgba(255,255,255,0) 0%, #fff 25%, #fff 100%);
  background-image: -o-linear-gradient(rgba(255,255,255,0) 0%, #fff 25%, #fff 100%);
}
body #recent-posts .post footer .date,
body #recent-posts .post footer .date>* {
  display: inline;
}
#the.post .tags {
  margin-top: 2px;
  margin-left: 0;
}
#the.post .tags .tag {
  background-color: #ddd;
  border-radius: 3px;
  padding-right: 6px;
  padding-left: 6px;
  list-style: none;
  display: inline-block;
}
#the.post .tags .tag:hover {
  background-color: #ccc;
  cursor: pointer;
}
article#the.post {
  margin-bottom: 40px;
}
article#the.post header {
  margin-bottom: 3em;
}
article#the.post header h1 .date {
  color: #808080;
  border-right: dotted 2px #808080;
  padding-right: 4px;
  margin-right: 4px;
  float: left;
}
article#the.post header h1 .date .day {
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
}
article#the.post header h1 .date .month {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}
article#the.post header h1 .date .year {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}
article#the.post header .buttons {
  margin-left: 0;
}
article#the.post header .buttons li {
  list-style: none;
  display: inline-block;
  margin-left: 4px;
}
article#the.post header .buttons li.facebook {
  position: relative;
  top: -2px;
}
article#the.post header .buttons li.twitter {
  width: 76px;
}
article#the.post header .buttons li.googleplus {
  width: 58px;
}
article#the.post .content>h2 {
  line-height: 26px;
  margin-top: 1.5em;
  margin-bottom: 10px;
}
article#the.post #disqus_thread {
  margin-top: 60px;
}
article#the.post img {
  box-shadow: 3px 3px 8px #888;
  margin-top: 1em;
  margin-bottom: 1em;
}
article#the.post .gist {
  margin-top: 10px;
  margin-bottom: 40px;
}
.post .content .footnotes {
  margin-top: 3em;
}
.post .content .footnotes li p {
  width: 440px;
}
.links_with_tag {
  position: absolute;
  visibility: hidden;
  margin: 0;
  padding: 4px 6px;
  border: solid 1px rgba(34,34,34,0.33);
  background-color: rgba(0,0,0,0.77);
  border-radius: 3px;
  color: #fff;
}
.links_with_tag ul {
  margin-bottom: 0;
}
.links_with_tag li a {
  color: #fff;
}
.rss-atom a {
  color: #fff;
}
.rss-atom .rss-link,
.rss-atom .atom-link {
  font-weight: 700;
  padding: 0 8px;
  border-radius: 2px;
  display: inline-block;
  background-color: #222;
}
pre.terminal {
  color: #fff;
  background-color: #000;
  font-weight: 400;
  font-family: monaco, monospace, mono;
}
textarea.terminal {
  width: 520px;
  background-color: #000;
  color: #fff;
  padding: 8.5px;
  overflow-x: scroll;
  font-size: 12px;
  line-height: 14px;
  font-family: "courier new";
}
pre.prettyprint {
  border: 1px solid #ccc;
  padding: 8.5px;
}
.content .syntaxhighlighter .functions {
  color: inherit !important;
}
.content .syntaxhighlighter .keyword {
  color: inherit !important;
  font-weight: inherit !important;
}
#disqus_thread {
  margin-bottom: 0;
}
#disqus_thread #dsq-content #dsq-global-toolbar {
  margin: auto;
  line-height: auto;
}
#disqus_thread #dsq-content .dsq-reply {
  margin-top: auto;
}
#disqus_thread #dsq-content .dsq-reply .dsq-textarea-reply {
  margin-bottom: auto;
}
#disqus_thread #dsq-content h3 {
  margin: auto;
  position: static;
  font-size: 1em;
}
#disqus_thread #dsq-content #dsq-footer {
  margin: auto;
}
