/*-------- google search --------*/
div .cse .gsc-control-cse,
div .gsc-control-cse {
  padding-left: 0;
  padding-right: 0;
}
form.gsc-search-box-tools .gsc-search-box .gsc-input {
  padding-right: 1px;
}
