// reset
*
  margin 0
  padding 0

a
  text-decoration none
ul, ol
  list-style none
img
  vertical-align middle

// fluid-image
img
  max-width 100%

// basic typography
html
  font-family verdana, sans-serif
  line-height 1.5

h1,h2,h3,h4,h5,h6
  margin-bottom 1.5rem
h1
  font-size 3rem
  line-height 1.0
h2
  font-size (36/16)rem
  line-height (48/36)
h3
  font-size (24/16)rem
  line-height (24/24)
h4,h5,h6
  font-size (16/16)rem
  line-height (24/16)

//
i[class^="icon-"]
  font-size 3rem
  line-height 3rem
  margin-right 1px

