// reset
*
  margin 0
  padding 0

a
  text-decoration none
ul, ol
  list-style none
img
  vertical-align middle

// fluid-image
img
  max-width 100%

// basic typography
html
  font-family verdana, sans-serif

//
i[class^="icon-"]
  font-size 3rem
  line-height 3rem
  margin-right 1px

