!!!5
%html
  %head
    %title {{site.title}}
    %meta{charset:'utf-8'}
    %meta{content:'width=device-width,initial-scale=1.0',name:'viewport'}
    %meta{content:'Tomotaka Sakuma',name:'author'}
    %meta{content:'',name:'description'}
    %link{href:"{{site.paths.vendor}}/bootstrap/docs/assets/css/bootstrap.css",rel:"stylesheet"}
    %link{href:"{{site.paths.css}}/docs.less",rel:"stylesheet/less",type:"text/css"}
    %link{href:"{{site.paths.vendor}}/google-code-prettify/prettify.css",type:"text/css",rel:"stylesheet"}
    %link{href:"{{site.paths.vendor}}/sh.css",type:"text/css",rel:"stylesheet"}
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-27755043-2']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body
    %header
      %h1
        %a.brand{href:'/'}{{site.title}}
    %aside#sidebar
      .sidebar-inner
        .rss-atom
          %a.rss-link{href:"/rss.xml"} RSS
          %a.atom-link{href:"/atom.xml"} ATOM
        .last-update
          updated at {{site.time|date_to_string}}
        .license
          %a{rel:"license",href:"http://creativecommons.org/licenses/by-nc-nd/3.0/"}
            %img{alt:"Creative Commons License",style:"border-width:0",src:"http://i.creativecommons.org/l/by-nc-nd/3.0/88x31.png"}
              %br
          This work is licensed under a
          %a{rel:"license",href:"http://creativecommons.org/licenses/by-nc-nd/3.0/"}
            Creative Commons<br/>
            Attribution-NonCommercial-NoDerivs
            3.0 Unported License
            \.
        %nav.recent-posts
          %ul
            {%for post in site.posts%}
            %li
              .date {{post.date|date:"%Y-%m-%d"}}
              .title
                %a{href:"{{post.url}}"} {{post.title}} 
            {%endfor%}
    {{content}}
  %script{src:"{{site.paths.vendor}}/less.js"}
  %script{src:"{{site.paths.vendor}}/google-code-prettify/prettify.js",type:"text/javascript"}
  :javascript
    prettyPrint()
  %script{src:"{{site.paths.vendor}}/javascripts/syntaxhighlighter/scripts/shCore.js"}
  %script{src:"{{site.paths.vendor}}/javascripts/syntaxhighlighter/scripts/shBrushJScript.js"}
  %script{src:"{{site.paths.vendor}}/javascripts/syntaxhighlighter/scripts/shBrushXml.js"}
  %script{src:"{{site.paths.vendor}}/javascripts/syntaxhighlighter/scripts/shBrushJava.js"}
  %script{src:"{{site.paths.vendor}}/javascripts/syntaxhighlighter/scripts/shBrushBash.js"}
  %script{src:"{{site.paths.vendor}}/javascripts/syntaxhighlighter/scripts/shBrushCss.js"}
  %script{src:"{{site.paths.vendor}}/javascripts/syntaxhighlighter/scripts/shBrushPython.js"}
  %script{src:"{{site.paths.vendor}}/javascripts/syntaxhighlighter/scripts/shBrushRuby.js"}
  %script{src:"{{site.paths.vendor}}/jquery.js"}
  :javascript
    $(function() {
        SyntaxHighlighter.config.clipboardSwf = '/javascripts/syntaxhighlighter/scripts/clipboard.swf';
        SyntaxHighlighter.config.toolbar = false;
        SyntaxHighlighter.all()
    });

