<!DOCTYPE html>
<html lang='{%if page.lang == null %}en{%else%}{{page.lang}}{%endif%}'>
  <head>
    <title>{%if page.title %} {{page.title}} {%else%} {{site.title}} {%endif%}</title>
    <meta charset='utf-8' />
    <meta content='width=device-width,initial-scale=1.0' name='viewport' />
    <meta content='{{site.author.name}}' name='author' />
    <meta content='{%if page.description %} {{page.description}} {%else%} {{site.description}} {%endif%}' name='description' />
    <link href='{{site.vendor.url}}/bootstrap/docs/assets/css/bootstrap.css' rel='stylesheet' />
    <link href='{{site.css.url}}/docs.less' rel='stylesheet/less' type='text/css' />
    <link href='{{site.vendor.url}}/sh.css' rel='stylesheet' type='text/css' />
    <link href='{{site.css.url}}/styles.css' rel='stylesheet' />
    {% include _rss_paths.html %}
    <link href='{{site.url}}{{rss_path}}' rel='alternate' title='RSS' type='application/rss+xml' />
  </head>
  <body>
    <div class='container'>
      <div class='row'>
        <div class='span3'>
          <header id='header'>
            <h1>
              {% include _site_title.html %}
            </h1>
          </header>
        </div>
      </div>
      <div class='row'>
        <div class='span3'>
          <aside id='sidebar'>
            <div class='sidebar-inner'>
              <div class='rss-atom'>
                <a class='rss-link' href='{{rss_path}}'>RSS</a>
                <a class='atom-link' href='{{atom_path}}'>ATOM</a>
              </div>
              <div class='last-update'>
                updated at
                <span class='date'>{{site.time | date:"%d %b %Y"}}</span>
              </div>
              <div class='social'>
                {% include _social.html %}
              </div>
              <div class='search'>
                {% include search.html %}
              </div>
              <nav class='recent-posts'>
                <ul>
                  {% assign prev_month = '' %}
                  {% for post in site.posts %}
                  {%   if post.lang == page.lang or (page.lang == "en" and post.lang == null) %}
                  {%     assign then = post.date %}
                  {%     assign this_month = {{then|date:'%b'}} %}
                  {%     if prev_month != this_month %}
                  {%       assign prev_month = this_month %}
                  <div class='date'>{{post.date|date:"%b %Y"}}</div>
                  {%     endif %}
                  <li>
                    <div class='title'>
                      {{post.date|date:"%d"}}
                      <a href='{{post.url}}'>{{post.title}}</a>
                    </div>
                  </li>
                  {%   endif %}
                  {% endfor %}
                </ul>
              </nav>
            </div>
          </aside>
        </div>
        <div class='span7'>
          {{content}}
        </div>
        <div class='span2'>
          <div>{% include adsense.html %}</div>
        </div>
      </div>
    </div>
  </body>
  <div id='metainfo'>
    <footer class='container'>
      <div class='row'>
        <div class='span9'>
          <div class='row'>
            <div class='span3'>&nbsp;</div>
            <div class='span3 privacy-policy'>
              <h2>Privacy Policy</h2>
              <p>
                This site utilizes Google Analytics (GA) and provides first party cookie of GA to your browser. I just only use the data, which is collected by GA, in order to improve the contents, accessibility, usability and readability of this site. And also about the data, I never disclose and use it for another purpose.
              </p>
            </div>
            <div class='span3 license'>
              <h2>License</h2>
              <p>{% include license.html %}</p>
            </div>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='span3'>&nbsp;</div>
        <div class='span6 copyright'>
          &copy; 2012 Tomotaka Sakuma
        </div>
      </div>
    </footer>
  </div>
  <aside id='scripts'>
    <script>
      var _page = {lang:"{{page.lang}}"};
    </script>
    <script src='{{site.vendor.url}}/ga.js'></script>
    <script src='{{site.vendor.url}}/less.js'></script>
    <script src='{{site.vendor.url}}/jquery.js'></script>
    <script src='{{site.vendor.url}}/jquery.tmpl.js'></script>
    <script src='{{site.vendor.url}}/bootstrap/docs/assets/js/bootstrap-tooltip.js'></script>
    <script src='{{site.vendor.url}}/coffee-script.js'></script>
    <script src='{{site.vendor.url}}/knockout.js'></script>
    <script src='{{site.js.url}}/tags.coffee' type='text/coffeescript'></script>
    <script src='{{site.vendor.url}}/javascripts/syntaxhighlighter/scripts/shCore.js'></script>
    <script src='{{site.vendor.url}}/javascripts/syntaxhighlighter/scripts/shBrushJScript.js'></script>
    <script src='{{site.vendor.url}}/javascripts/syntaxhighlighter/scripts/shBrushXml.js'></script>
    <script src='{{site.vendor.url}}/javascripts/syntaxhighlighter/scripts/shBrushJava.js'></script>
    <script src='{{site.vendor.url}}/javascripts/syntaxhighlighter/scripts/shBrushBash.js'></script>
    <script src='{{site.vendor.url}}/javascripts/syntaxhighlighter/scripts/shBrushCss.js'></script>
    <script src='{{site.vendor.url}}/javascripts/syntaxhighlighter/scripts/shBrushPython.js'></script>
    <script src='{{site.vendor.url}}/javascripts/syntaxhighlighter/scripts/shBrushRuby.js'></script>
    <script src='{{site.vendor.url}}/syntaxhighlighter.js'></script>
    <div id='fb-root'></div>
    <script type='text/javascript'>
      //<![CDATA[
        (function(d, s, id) {
        
          var js, fjs = d.getElementsByTagName(s)[0];
        
          if (d.getElementById(id)) return;
        
          js = d.createElement(s); js.id = id;
        
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
        
          fjs.parentNode.insertBefore(js, fjs);
        
        }(document, 'script', 'facebook-jssdk'));
      //]]>
    </script>
    <script async='async' charset='utf-8' src='http://b.st-hatena.com/js/bookmark_button.js'></script>
    <script type='text/javascript'>
      //<![CDATA[
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
      //]]>
    </script>
  </aside>
</html>
