<!DOCTYPE html>
<html>
  <head>
    <title>{{site.title}}</title>
    <meta charset='utf-8' />
    <meta content='width=device-width,initial-scale=1.0' name='viewport' />
    <meta content='Tomotaka Sakuma' name='author' />
    <meta content='' name='description' />
    <link href='{{site.paths.vendor}}/bootstrap/docs/assets/css/bootstrap.css' rel='stylesheet' />
    <link href='{{site.paths.css}}/docs.less' rel='stylesheet/less' type='text/css' />
    <link href='{{site.paths.vendor}}/google-code-prettify/prettify.css' rel='stylesheet' type='text/css' />
    <link href='{{site.paths.vendor}}/sh.css' rel='stylesheet' type='text/css' />
    <script type='text/javascript'>
      //<![CDATA[
        var _gaq = _gaq || [];
        
        _gaq.push(['_setAccount', 'UA-27755043-2']);
        
        _gaq.push(['_trackPageview']);
        
        (function() {
        
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        
        })();
      //]]>
    </script>
  </head>
  <body>
    <header id='header'>
      <h1>
        <a class='brand' href='/'>{{site.title}}</a>
      </h1>
    </header>
    <aside id='sidebar'>
      <div class='sidebar-inner'>
        <div class='rss-atom'>
          <a class='rss-link' href='/rss.xml'>RSS</a>
          <a class='atom-link' href='/atom.xml'>ATOM</a>
        </div>
        <div class='last-update'>
          updated at {{site.time|date_to_string}}
        </div>
        <div class='license'>
          This work is licensed under a
          <a href='http://creativecommons.org/licenses/by-nc-nd/3.0/' rel='license'>
            Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Unported License <br/>
            <img alt='Creative Commons License' src='http://i.creativecommons.org/l/by-nc-nd/3.0/88x31.png' style='border-width:0' />
          </a>
        </div>
        <nav class='recent-posts'>
          <ul>
            {%for post in site.posts%}
            <li>
              <div class='date'>{{post.date|date:"%Y-%m-%d"}}</div>
              <div class='title'>
                <a href='{{post.url}}'>{{post.title}}</a>
              </div>
            </li>
            {%endfor%}
          </ul>
        </nav>
      </div>
    </aside>
    {{content}}
  </body>
  <script src='{{site.paths.vendor}}/less.js'></script>
  <script src='{{site.paths.vendor}}/google-code-prettify/prettify.js' type='text/javascript'></script>
  <script type='text/javascript'>
    //<![CDATA[
      prettyPrint()
    //]]>
  </script>
  <script src='{{site.paths.vendor}}/javascripts/syntaxhighlighter/scripts/shCore.js'></script>
  <script src='{{site.paths.vendor}}/javascripts/syntaxhighlighter/scripts/shBrushJScript.js'></script>
  <script src='{{site.paths.vendor}}/javascripts/syntaxhighlighter/scripts/shBrushXml.js'></script>
  <script src='{{site.paths.vendor}}/javascripts/syntaxhighlighter/scripts/shBrushJava.js'></script>
  <script src='{{site.paths.vendor}}/javascripts/syntaxhighlighter/scripts/shBrushBash.js'></script>
  <script src='{{site.paths.vendor}}/javascripts/syntaxhighlighter/scripts/shBrushCss.js'></script>
  <script src='{{site.paths.vendor}}/javascripts/syntaxhighlighter/scripts/shBrushPython.js'></script>
  <script src='{{site.paths.vendor}}/javascripts/syntaxhighlighter/scripts/shBrushRuby.js'></script>
  <script src='{{site.paths.vendor}}/jquery.js'></script>
  <script type='text/javascript'>
    //<![CDATA[
      $(function() {
      
          SyntaxHighlighter.config.clipboardSwf = '/javascripts/syntaxhighlighter/scripts/clipboard.swf';
      
          SyntaxHighlighter.config.toolbar = false;
      
          SyntaxHighlighter.all()
      
      });
    //]]>
  </script>
</html>
