!!!5
%html
  %head
    %title {{site.title}}
    %meta{charset:'utf-8'}
    %meta{content:'width=device-width,initial-scale=1.0',name:'viewport'}
    %meta{content:'Tomotaka Sakuma',name:'author'}
    %meta{content:'',name:'description'}
    %link{href:"{{site.paths.vendor}}/bootstrap/docs/assets/css/bootstrap.css",rel:"stylesheet"}
    %link{href:"{{site.paths.css}}/docs.less",rel:"stylesheet/less",type:"text/css"}
    %link{href:"{{site.paths.vendor}}/google-code-prettify/prettify.css",type:"text/css",rel:"stylesheet"}
    %link{href:"{{site.paths.vendor}}/sh.css",type:"text/css",rel:"stylesheet"}
    %script{src:"{{site.paths.vendor}}/google-analytics.js"}
  %body
    %header#header
      %h1
        %a.brand{href:'/'}{{site.title}}
    %aside#sidebar
      .sidebar-inner
        .rss-atom
          %a.rss-link{href:"/rss.xml"} RSS
          %a.atom-link{href:"/atom.xml"} ATOM
        .last-update
          updated at
          %span.date {{site.time | date:"%d %b %Y"}}
        .license
          = Haml::Engine.new(File.read "_layouts/_license.haml").render
        %nav.recent-posts
          %ul
            {% assign prev_month = '' %}
            {% for post in site.posts %}
            {% assign this_month = {{post.date|date:"%Y"}} %}
            {% if this_month != prev_month %}
            {%   assign prev_month = {{this_month}} %}
            / Hack for github!
            .date 20{{this_month}}
            /.date {{post.date|date:"%b %Y"}}
            /.date {{post.date|date:"%Y-%m-%d"}}
            /.date {{this_month}}
            {% endif %}
            %li
              .title
                {{post.date|date:"%d"}}
                %a{href:"{{post.url}}"} {{post.title}} 
            {% endfor %}
    {{content}}
  #scripts
    %script{src:"{{site.paths.vendor}}/less.js"}
    %script{src:"{{site.paths.vendor}}/google-code-prettify/prettify.js",type:"text/javascript"}
    :javascript
      prettyPrint()
    %script{src:"{{site.paths.vendor}}/javascripts/syntaxhighlighter/scripts/shCore.js"}
    %script{src:"{{site.paths.vendor}}/javascripts/syntaxhighlighter/scripts/shBrushJScript.js"}
    %script{src:"{{site.paths.vendor}}/javascripts/syntaxhighlighter/scripts/shBrushXml.js"}
    %script{src:"{{site.paths.vendor}}/javascripts/syntaxhighlighter/scripts/shBrushJava.js"}
    %script{src:"{{site.paths.vendor}}/javascripts/syntaxhighlighter/scripts/shBrushBash.js"}
    %script{src:"{{site.paths.vendor}}/javascripts/syntaxhighlighter/scripts/shBrushCss.js"}
    %script{src:"{{site.paths.vendor}}/javascripts/syntaxhighlighter/scripts/shBrushPython.js"}
    %script{src:"{{site.paths.vendor}}/javascripts/syntaxhighlighter/scripts/shBrushRuby.js"}
    %script{src:"{{site.paths.vendor}}/jquery.js"}
    %script{src:"{{site.paths.vendor}}/syntaxhighlighter.js"}
