!!!5
%html
  %head
    %title {{site.title}}
    %meta{charset:'utf-8'}
    %meta{content:'width=device-width,initial-scale=1.0',name:'viewport'}
    %meta{content:'Tomotaka Sakuma',name:'author'}
    %meta{content:'',name:'description'}
    %link{href:"{{site.paths.vendor}}/bootstrap/docs/assets/css/bootstrap.css",rel:"stylesheet"}
    %link{href:"{{site.paths.css}}/docs.less",rel:"stylesheet/less",type:"text/css"}
    %link{href:"{{site.paths.vendor}}/sh.css",type:"text/css",rel:"stylesheet"}
    %link{href:"{{site.paths.css}}/styles.css",rel:"stylesheet"}
  %body
    .container
      .row
        .span3
          %header#header
            %h1
              %a.brand{href:'/'}{{site.title}}
          %aside#sidebar
            .sidebar-inner
              .rss-atom
                %a.rss-link{href:"/rss.xml"} RSS
                %a.atom-link{href:"/atom.xml"} ATOM
              .last-update
                updated at
                %span.date {{site.time | date:"%d %b %Y"}}
              .social
                %a{href:"{{site.profile.social.twitter}}"}
                  %img.icon{src:"{{site.paths.icon}}/twitter.png"}
                %a{href:"{{site.profile.social.facebook}}"}
                  %img.icon{src:"{{site.paths.icon}}/facebook.png"}
                %a{href:"{{site.profile.social.github}}"}
                  %img.icon{src:"{{site.paths.icon}}/github.png"}
                %a{href:"{{site.profile.social.googleplus}}"}
                  %img.icon{src:"{{site.paths.icon}}/google.png"}
                %a{href:"{{site.profile.social.linkedin}}"}
                  %img.icon{src:"{{site.paths.icon}}/linkedin.png"}
                %a{href:"{{site.profile.social.zerply}}"}
                  %img.icon{src:"{{site.paths.icon}}/zerply.png"}
              %nav.recent-posts
                %ul
                  {% assign prev_month = '' %}
                  {% for post in site.posts %}
                  {%   assign then = post.date %}
                  {%   assign this_month = {{then|date:'%b'}} %}
                  {%   if prev_month != this_month %}
                  {%     assign prev_month = this_month %}
                  .date {{post.date|date:"%b %Y"}}
                  {%   endif %}
                  %li
                    .title
                      {{post.date|date:"%d"}}
                      %a{href:"{{post.url}}"} {{post.title}} 
                  {% endfor %}
        .span6
          {{content}}
        
        .span3
          %div= Haml::Engine.new(File.read "_layouts/_adsense.haml").render

  #metainfo
    %footer.container
      .row
        .span9
          .row
            .span3 &nbsp;
            .span3.privacy-policy
              %h2 Privacy Policy
              %p
                This site utilizes Google Analytics (GA) and provides first party cookie of GA to your browser. I just only use the data, which is collected by GA, in order to improve the contents, accessibility, usability and readability of this site. And also about the data, I never disclose and use it for another purpose.
            .span3.license
              %h2 License
              %p= Haml::Engine.new(File.read "_layouts/_license.haml").render
      .row
        .span3 &nbsp;
        .span6.copyright
          &copy; 2012 Tomotaka Sakuma
  %aside#scripts
    %script{src:"{{site.paths.vendor}}/ga.js"}
    %script{src:"{{site.paths.vendor}}/less.js"}
    %script{src:"{{site.paths.vendor}}/javascripts/syntaxhighlighter/scripts/shCore.js"}
    %script{src:"{{site.paths.vendor}}/javascripts/syntaxhighlighter/scripts/shBrushJScript.js"}
    %script{src:"{{site.paths.vendor}}/javascripts/syntaxhighlighter/scripts/shBrushXml.js"}
    %script{src:"{{site.paths.vendor}}/javascripts/syntaxhighlighter/scripts/shBrushJava.js"}
    %script{src:"{{site.paths.vendor}}/javascripts/syntaxhighlighter/scripts/shBrushBash.js"}
    %script{src:"{{site.paths.vendor}}/javascripts/syntaxhighlighter/scripts/shBrushCss.js"}
    %script{src:"{{site.paths.vendor}}/javascripts/syntaxhighlighter/scripts/shBrushPython.js"}
    %script{src:"{{site.paths.vendor}}/javascripts/syntaxhighlighter/scripts/shBrushRuby.js"}
    %script{src:"{{site.paths.vendor}}/jquery.js"}
    %script{src:"{{site.paths.vendor}}/bootstrap/docs/assets/js/bootstrap-tooltip.js"}
    %script{src:"{{site.paths.vendor}}/syntaxhighlighter.js"}
