<!DOCTYPE html>
<html lang='{%if page.lang == null %}en{%else%}{{page.lang}}{%endif%}'>
  <head>
<!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='58395966-0',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->
<script>var _gaq = _gaq || [];
var pluginUrl = '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
_gaq.push(['_require', 'inpage_linkid', pluginUrl]);
_gaq.push(['_setAccount', 'UA-27755043-2']);
_gaq.push(['_trackPageview']);
_gaq.push(['_deleteCustomVar', 1]);
var now = new Date;
function zp(n) {return n/10 >= 1 ? n : "0" + n}
var val = now.getFullYear() + "-" + zp(now.getMonth() + 1) + "-" + (Math.floor(now.getDate()/10) + 1)
_gaq.push(['_setCustomVar', 2, 'cohort', val, 1]);  // 1:user, 2:session, 3:page
(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();</script>
    <title>{%if page.title %} {{page.title}} {%else%} {{site.title}} {%endif%}</title>
    <meta charset='utf-8' />
    <meta content='width=device-width,initial-scale=1.0' name='viewport' />
    <meta content='{{site.author.name}}' name='author' />
    <meta content='{%if page.description %} {{page.description}} {%else%} {{site.description}} {%endif%}' name='description' />
    <link href='{{site.vendor.url}}/bootstrap/docs/assets/css/bootstrap.css' rel='stylesheet' />
    <link href='{{site.css.url}}/home1.less' rel='stylesheet/less' type='text/css' />
    <link href='{{site.vendor.url}}/sh.css' rel='stylesheet' type='text/css' />
    <link href='{{site.css.url}}/styles.css' rel='stylesheet' />
    {% include _rss_paths.html %}
    <link href='{{site.url}}{{rss_path}}' rel='alternate' title='RSS' type='application/rss+xml' />
  </head>
  <body>
    <div class='container'>
      <div class='row'>
        <div class='span3'>
          <header id='header'>
            <h1>
              {% include _site_title.html %}
            </h1>
          </header>
        </div>
      </div>
      <div class='row'>
        <div class='span3'>
          <aside id='sidebar'>
            <div class='sidebar-inner'>
              <div class='rss-atom'>
                <a class='rss-link' href='{{rss_path}}'>RSS</a>
                <a class='atom-link' href='{{atom_path}}'>ATOM</a>
              </div>
              <div class='last-update'>
                updated at
                <span class='date'>{{site.time | date:"%d %b %Y"}}</span>
              </div>
              <div class='social'>
                {% include _social.html %}
              </div>
              <div class='search'>
                {% include search.html %}
              </div>
            </div>
            <div>{% include adsense.html %}</div>
          </aside>
        </div>
        <div class='span7'>
          {{content}}
        </div>
      </div>
    </div>
  </body>
  <div id='metainfo'>
    <footer class='container'>
      <div class='row'>
        <div class='span9'>
          <div class='row'>
            <div class='span3'>&nbsp;</div>
            <div class='span3 privacy-policy'>
              <h2>Privacy Policy</h2>
              <p>
                This site utilizes Google Analytics (GA) and provides first party cookie of GA to your browser. I just only use the data, which is collected by GA, in order to improve the contents, accessibility, usability and readability of this site. And also about the data, I never disclose and use it for another purpose.
              </p>
            </div>
            <div class='span3 license'>
              <h2>License</h2>
              <p>{% include license.html %}</p>
            </div>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='span3'>&nbsp;</div>
        <div class='span6 copyright'>
          &copy; 2012 Tomotaka Sakuma
        </div>
      </div>
    </footer>
  </div>
  <aside id='scripts'>
    <script>
      var _page = {lang:"{{page.lang}}"};
    </script>
    <script src='{{site.vendor.url}}/less.js'></script>
    <script src='{{site.vendor.url}}/jquery.js'></script>
    <script src='{{site.vendor.url}}/jquery.tmpl.js'></script>
    <script src='{{site.vendor.url}}/bootstrap/docs/assets/js/bootstrap-tooltip.js'></script>
    <script src='{{site.vendor.url}}/coffee-script.js'></script>
    <script src='{{site.vendor.url}}/knockout.js'></script>
    <script src='{{site.js.url}}/tags.coffee' type='text/coffeescript'></script>
    <script src='{{site.vendor.url}}/javascripts/syntaxhighlighter/scripts/shCore.js'></script>
    <script src='{{site.vendor.url}}/javascripts/syntaxhighlighter/scripts/shBrushJScript.js'></script>
    <script src='{{site.vendor.url}}/javascripts/syntaxhighlighter/scripts/shBrushXml.js'></script>
    <script src='{{site.vendor.url}}/javascripts/syntaxhighlighter/scripts/shBrushJava.js'></script>
    <script src='{{site.vendor.url}}/javascripts/syntaxhighlighter/scripts/shBrushBash.js'></script>
    <script src='{{site.vendor.url}}/javascripts/syntaxhighlighter/scripts/shBrushCss.js'></script>
    <script src='{{site.vendor.url}}/javascripts/syntaxhighlighter/scripts/shBrushPython.js'></script>
    <script src='{{site.vendor.url}}/javascripts/syntaxhighlighter/scripts/shBrushRuby.js'></script>
    <script src='{{site.vendor.url}}/syntaxhighlighter.js'></script>
    <div id='fb-root'></div>
    <script type='text/javascript'>
      //<![CDATA[
        (function(d, s, id) {
        
          var js, fjs = d.getElementsByTagName(s)[0];
        
          if (d.getElementById(id)) return;
        
          js = d.createElement(s); js.id = id;
        
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
        
          fjs.parentNode.insertBefore(js, fjs);
        
        }(document, 'script', 'facebook-jssdk'));
      //]]>
    </script>
    <script async='async' charset='utf-8' src='http://b.st-hatena.com/js/bookmark_button.js'></script>
    <script type='text/javascript'>
      //<![CDATA[
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
      //]]>
    </script>
    <script type='text/javascript'>
      //<![CDATA[
        (function() {
        
          var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        
          po.src = 'https://apis.google.com/js/plusone.js';
        
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        
        })();
      //]]>
    </script>
  </aside>
</html>
