---
layout: default
---
<div id='recent-posts'>
  {% for post in site.posts limit:10 offset:0 %}
  {%   if post.lang == page.lang or (page.lang == "en" and post.lang == null) %}
  <article class='post'>
    <header>
      <h2>
        <a class='title' href='{{post.url}}'>{{post.title}}</a>
      </h2>
    </header>
    <div class='content'>{{post.content}}</div>
    <footer>
      <a class='read-more' href='{{post.url}}'>Read more</a>
      <div class='date'>{{post.creation-date || date:"%d %b %Y"}}</div>
    </footer>
  </article>
  {%   endif %}
  {% endfor %}
</div>
