---
layout: default_
---
<article class='post' id='the'>
  <header>
    <h1>
      <div class='date'>
        <div class='day'>{{page.creation-date || date:"%d"}}</div>
        <div class='month'>{{page.creation-date || date:"%b"}}</div>
        <div class='year'>{{page.creation-date || date:"%Y"}}</div>
      </div>
      <div class='title' data-title='{{page.title}}'>{{page.title}}</div>
    </h1>
    <ul class='tags'>
      {% for tag in page.tags %}
      <li class='tag' data-bind='event:{mouseover:show_links_for_tag,mouseout:hide_links_for_tag}' data-tag='{{tag}}'>{{tag}}</li>
      {% endfor %}
    </ul>
    <ul class='buttons'>
      <li class='facebook'>
        <div class='fb-like' data-layout='button_count' data-send='true' data-show-faces='false' data-width='450'></div>
      </li>
      <li class='twitter'>
        <a class='twitter-share-button' data-via='tmtk75' href='https://twitter.com/share' lang='en'>Tweet</a>
      </li>
      <li class='googleplus'>
        <div class='g-plusone' data-size='medium' data-width='300'></div>
      </li>
      <li class='hatena'>
        <a class='hatena-bookmark-button' data-hatena-bookmark-layout='simple-balloon' data-hatena-bookmark-title='{{page.title}}({{site.title}})' href='http://b.hatena.ne.jp/entry/{{site.url}}'>
          <img height='20' src='http://b.st-hatena.com/images/entry-button/button-only.gif' style='border: none;' width='20' />
        </a>
      </li>
    </ul>
    <div class='links_with_tag' data-bind="style:{visibility:'visible'},visible:links_shown,event:{mouseover:keep,mouseout:hide_links_for_tag}">
      <div class='h'>
        {% include _head_tags.html %}
        "<span data-bind='text:tagname'></span>"
      </div>
      <ul data-bind="template:{name:'links_for_tag',foreach:links}"></ul>
      <script id='links_for_tag' type='text/html'>
        <li>
          <a class='title' data-bind='text:title, attr:{href:path}'></a>
        </li>
      </script>
    </div>
  </header>
  <div class='content'>
    {{content}}
  </div>
  <aside id='disqus_thread_container'>
    <div id='disqus_thread'></div>
    <script src='{{site.vendor.url}}/disqus.js'></script>
    <noscript>
      Please enable JavaScript to view the
      <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
    </noscript>
    <a class='dsq-brlink' href='http://disqus.com'>blog comments powered by <span class="logo-disqus">Disqus</span></a>
  </aside>
</article>
