-#layout: default
%article#the.post
  %header
    %h1
      .date
        .day {{page.creation-date || date:"%d"}}
        .month {{page.creation-date || date:"%b"}}
        .year {{page.creation-date || date:"%Y"}}
      .title{"data-title"=>"{{page.title}}"} {{page.title}}
    %ul.tags
      {% for tag in page.tags %}
      %li.tag{"data-bind"=>"event:{mouseover:show_links_for_tag,mouseout:hide_links_for_tag}","data-tag"=>'{{tag}}'} {{tag}}
      {% endfor %}

    .links_with_tag{"data-bind"=>"style:{visibility:'visible'},visible:links_shown,event:{mouseover:keep,mouseout:hide_links_for_tag}"}
      .h
        %span{"data-bind"=>"if: empty"} No other related
        %span{"data-bind"=>"ifnot: empty"} Related
        posts for the tag "<span data-bind='text:tagname'></span>"
      %ul{"data-bind"=>"template:{name:'links_for_tag',foreach:links}"}
      
      %script{type:"text/html",id:"links_for_tag"}
        %li
          %a.title{"data-bind"=>"text:title, attr:{href:path}"}

  .content
    {{content}}

  %aside#disqus_thread_container
    #disqus_thread
    %script{src:"{{site.vendor.url}}/disqus.js"}
    %noscript
      Please enable JavaScript to view the
      <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
    %a.dsq-brlink{href:"http://disqus.com"} blog comments powered by <span class="logo-disqus">Disqus</span>
